@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background: #111827;
}
.sideText {
    writing-mode: tb-rl;
}


.menuOpen {
    animation: displayMenu 1s ease-in-out forwards;
}

@keyframes displayMenu {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes closeMenu {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}